* {
    margin: 0;
    padding: 0;
}

.header {
    background: lightblue;
    text-align: center;
}

#ListInput {
    display: block;
    width: 100%;
}

#enter-button{
    width: 45%;
    display: inline;
}

#clear-button{
    width: 45%;
    display: inline;
}

ul {
    background: lightgrey;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    display: block;
    padding: 0.8em;
    margin: 0%;
}

ul li:nth-child(even) {
    background: grey;
}

ul li:hover {
    background: lightslategrey;
}

ul li.completed{
    text-decoration: line-through;
}

ul li.uncompleted{

}

.edit-button{
    background-color: #555555; /* Green */
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    display: inline;
    font-size: 16px;
    float: right;
    margin-right: 20%;
}