*{
    font-family: Futura;
    font-size: 24px;
}

body {
    background-color: #e8e8e8;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #feffd9;
    padding: 60px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-new-item {
    display: flex;

}

#input-field {
    height: 70px;
    padding-left: 16px;
    width: 300px;
    border: none;
}

#add-btn {
    background-color: #efefef;
    border: none;
    cursor: pointer;
    padding: 20px;
    font-size: 24px;
}

#master-options {
    display: flex;
    font-size: 12px;
}

#show-uncompleted-btn {
    color: #777777;
    cursor: pointer;
    margin-right: 16px;
}

#dlt-all-btn {
    color: #9a2a2a;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 16px 16px 16px;
    padding: 32px;
}

#item-info {
    display: flex;
}

#checkbox-btn {
    background-color: white;
    border: #c5c5c5 solid 1px;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 16px;
    width: 30px;
}

#rename-field {
    border: none;
}

#item-edit-dlt {
    display: flex;
}

#edit-btn {
    color: #777777;
    cursor: pointer;
    margin-right: 16px;
}

#dlt-btn {
    color: #9a2a2a;
    cursor: pointer;
}

#save-btn {
    color: #777777;
    cursor: pointer;
}