@import './Constants.css';

.App {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#email-validation-error {
    color: var(--delete-btn-color);
    margin-bottom: 8px;
}

#shared-email-display {
    padding: 4px;
}

#add-email-form {
    height: 30px;
    margin-bottom: 10px;
    display: flex;
}

#email-input-field {
    border: none;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    padding: 0 0 0 8px;
    height: 100%;
    width: 100%;
    /*margin-left: auto;*/
}

#add-email-btn-active {
    font-size: 18px;
    margin-right: auto;
    height: 100%;
    width: 30px;
}

#add-email-btn-disabled {
    font-size: 18px;
    height: 100%;
    width: 30px;
}

#email-items {
    max-height: 220px;
    overflow-y: scroll;
}

.email-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dlt-email-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dlt-email-btn img {
    height: 15px;
    width: 15px;
}