#header {
    background-color: #c4ecff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    padding: 16px 0 20px 0;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 68px;
    width: 100%;
}

#header-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#add-new-item {
    display: flex;
    height: 30px;
    /*margin-left: 16px;*/
    text-align: center;
    margin-top: 16px;
    width: 100%;
}

#input-field {
    border: none;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    padding-left: 8px;
    width: 280px;
    margin-left: auto;
}

#add-btn {
    background-color: #efefef;
    border: none;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    padding: 4px;
    font-size: 18px;
    margin-right: auto;
    width: 30px;
}

#master-options {
    display: flex;
    flex-direction: row;
    margin: 8px 0 0 16px;
    font-size: 18px;
    text-align: left;
    justify-content: left;
}

#show-completed-btn {
    float: left;
    color: #777777;
    cursor: pointer;
}

#dlt-all-btn {
    float: left;
    color: #9a2a2a;
    cursor: pointer;
    margin-left: 8px;
}