#header {
    background-color: #c4ecff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    padding: 16px 16px 20px 16px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 68px;
    width: 100%;
}

@media screen and (min-width: 480px) {
    #header {
        padding: 16px 20% 44px 20%;
    }
}

#header-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#add-new-item {
    display: flex;
    height: 30px;
    text-align: center;
    margin-top: 16px;
    width: 100%;
}

#add-form {
    display: inherit;
}

#input-field {
    border: none;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    padding-left: 8px;
    width: 280px;
    margin-left: auto;
}

#add-btn-active {
    background-color: #61b0ec;
    border: none;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 6px;
    font-size: 18px;
    margin-right: auto;
    width: 30px;
}

#add-btn-disabled {
    pointer-events:none;
    background-color: rgb(236, 236, 236);
    color: rgba(121, 121, 121, 0.39);
    border: none;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    padding: 4px;
    font-size: 18px;
    margin-right: auto;
    width: 30px;
}

@media screen and (min-width: 640px) {
    #add-new-item {
        height: 38px;
    }
    #input-field {
        width: 400px;
    }
    #add-btn-active {
        width: 38px;
    }
    #add-btn-disabled {
        width: 38px;
    }
}

#master-options {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    font-size: 12px;
    text-align: left;
    justify-content: left;
}

#show-completed-btn {
    float: left;
    color: #777777;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
}

#dlt-all-btn {
    float: left;
    color: #9a2a2a;
    cursor: pointer;
    margin-left: 8px;
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
}

@media screen and (min-width: 480px) {
    #master-options {
        font-size: 14px;
        margin-top: 12px;
    }
    #dlt-all-btn {
        margin-left: 12px;
    }
}
