@import './Constants.css';

#login-display {
    background-color: var(--header-background-color);
}

/* Landing Header Styles*/
#landing-header {
    background-color: var(--header-background-color);
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

#landing-header-title {
    font-weight: bold;
    font-size: 28px;
    margin-top: 8px;
}

#verify-email-btn {
    height: auto;
    width: auto;
    margin-top: 8px;
    margin-right: 8px;
}

#signout-btn {
    height: auto;
    width: auto;
    margin-top: 8px;
}

#landing-header-user {
    color: var(--other-btn-color);
    font-weight: bold;
    /*font-size: 28px;*/
}

/*Sign Up Styles*/

#signup-fields {
    /*background-color: orange;*/
    height: 300px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}

#signup-fields input {
    background-color: #fcfcfc;
    border: solid 1px #d3d3d3;
    border-radius: 4px;
    color: #3b3b3b;
    padding-left: 8px;
    height: 28px;
    width: 280px;
}

.signup-field-label {
    margin-left: 18px;
    text-align: left;
    margin-bottom: 4px;
}

#email-input {
    margin-bottom: 16px;
}

#password-input {

}

#password-input input {
}

#signup-confirm-btn-container {
    text-align: center;
    margin-top: 32px;
}

#signup-confirm-btn-container button {
    height: 38px;
    width: 290px;
}

#landing-content {
    padding: 16px;
}

/* Optional Sign In Buttons*/
#signin-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}
#test-signin-btn {
    height: 38px;
    width: auto;
    margin-bottom: 16px;

}
#google-signin-btn {
    height: 38px;
    width: auto;
}

@media screen and (min-width: 480px) {
    #landing-header {
        padding: 20px 20%;
    }
    #landing-content {
        padding: 20px 20%;
    }
    #signin-btns {
        padding: 20px 20%;
    }
}