@import './Constants.css';

#login-display {
    background-color: var(--header-background-color);
}

#landing-header {
    background-color: var(--header-background-color);
    height: 128px;
    width: 100%;
    position: relative;
}

#signup-fields {
    /*background-color: orange;*/
    height: 300px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}

#signup-fields input {
    background-color: #fcfcfc;
    border: solid 1px #d3d3d3;
    border-radius: 4px;
    color: #3b3b3b;
    /*border: none;*/
    /*border-radius: 6px;*/
    /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);*/
    padding-left: 8px;
    height: 28px;
    width: 280px;
    /*margin: auto;*/
}

.signup-field-label {
    /*width: 80px;*/
    /*background-color: pink;*/
    margin-left: 18px;
    text-align: left;
    margin-bottom: 4px;
}

#email-input {
    margin-bottom: 16px;
}

#password-input {

}

#password-input input {
}

#signup-confirm-btn-container {
    text-align: center;
    margin-top: 32px;
}

#signup-confirm-btn-container button {
    background-color: #61b0ec;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 38px;
    width: 290px;
    font-size: 14px;
}

#landing-header-options {
    float: right;
    padding: 12px;
}

#landing-header-options button {
}

#verify-email-btn {
    background-color: #61b0ec;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 28px;
    width: 90px;
    font-weight: bold;
    margin-right: 8px;
}

#signout-btn {
    background-color: #fcfcfc;
    border: solid 1px #d3d3d3;
    border-radius: 4px;
    color: #3b3b3b;
    cursor: pointer;
    height: 28px;
    width: 56px;
}

#landing-header-heading {
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    bottom: 16px;
    left: 16px;
}

#landing-content {
    padding: 16px;
}

@media screen and (min-width: 480px) {
    #landing-header-heading {
        left: 20%;
    }
    #landing-content {
        padding: 20px 20%;
    }
}