#lists-container {
    /*display: flex;*/
}

.lists-container button {
    background-color: #fcfcfc;
    border: solid 1px #d3d3d3;
    border-radius: 4px;
    color: #3b3b3b;
    cursor: pointer;
    height: 28px;
    width: 56px;
}

.lists-dropdown {
    position: relative;
    display: inline-block;
}

.lists-dropdown img {
    height: 15px;
    width: 17px;
}

.home-lists-dropdown button {
    background-color: #fcfcfc;
    border: solid 1px #d3d3d3;
    border-radius: 4px;
    color: #3b3b3b;
    cursor: pointer;
    height: 28px;
}

.lists-dropdown button {
    border: none;
}

.lists-dropdown-content {
    display: block;
    position: absolute;
    min-width: 140px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1;
    font-size: 14px;
    font-weight: normal;
}

.list-unselected {
    background-color: white;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.list-selected {
    background-color: #e5e5e5 !important;
}

.lists-dropdown-content a:not(:last-child) {
    border-bottom: rgba(119, 119, 119, 0.2) solid 1px;
}

#add-new-list {
    height: 28px;
    text-align: center;
    margin-top: 16px;
    width: 50%;
    display: flex;
}

#add-list-form {
    display: inherit;
}

#input-list-field {
    border: none;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    padding-left: 8px;
    width: 180px;
    margin-left: auto;
}

#add-list-btn-active {
    background-color: #61b0ec;
    border: none;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    margin-right: auto;
    width: 30px;
}

.delete-list-btn {
    background-color: #fcfcfc;
    border: none;
    border-radius: 4px;
    color: #3b3b3b;
    cursor: pointer;
    height: 28px;
    margin-left: 4px;
    padding-top: 6px;
}

.delete-list-btn img {
    height: 15px;
    width: 15px;
}