.lists-dropdown {
    position: relative;
    display: inline-block;
}

.lists-dropdown-content {
    display: block;
    position: absolute;
    min-width: 140px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1;
}

.list-selected {
    background-color: #e5e5e5;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.list-unselected {
    background-color: white;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.lists-dropdown-content a:not(:last-child) {
    border-bottom: rgba(119, 119, 119, 0.2) solid 1px;
}