@import './Constants.css';

#tasklist-container {
    padding: 0 16px;
}

@media screen and (min-width: 480px) {
    #tasklist-container {
        padding: 0 20%;
    }
}

/*Navigation Styling*/

#navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

#list-owner{
    font-weight: bold;
}

#home-btn {
    margin-right: 5px;
}

#share-btn {
    margin-left: 5px;
}

/* List Title styling*/

#title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

#title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

.sort-btn-container {
    display: flex;
    justify-content: right;
    margin: 0 16px 8px 0;
}

.sort-btn-disabled:hover {
    cursor: not-allowed;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    min-width: 140px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    background-color: white;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.selected-a {
    background-color: #e5e5e5 !important;
}

.dropdown-content a:not(:last-child) {
    border-bottom: rgba(119, 119, 119, 0.2) solid 1px;
}