.task-container {
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 16px 16px 16px;
    padding: 14px;
    font-size: 14px;
}

.item-info {
    display: flex;
    margin-right: 8px;
    text-align: left;
}

.task-content {
    display: flex;
    flex-direction: column;
}

.task-content .task-text {
    display: flex;
    /*float: left;*/
}

.task-content .task-date {
    color: #777777;
    font-size: x-small;
    margin-top: 4px;
    /*display: flex;*/
}

.priority {
    color: #f6942a;
    font-weight: bold;
    margin-right: 4px;
}

.item-edit-dlt {
    display: flex;
}

.item-edit-dlt img {
    height: 15px;
    width: 15px;
}

.edit-btn {
    color: #777777;
    cursor: pointer;
    margin-right: 16px;
}

.edit-field {
    border: #c5c5c5 solid 1px;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    width: 180px;
}

.dlt-btn {
    color: #9a2a2a;
    cursor: pointer;
}

.save-btn {
    color: #777777;
    cursor: pointer;
    margin-right: 16px;
    border: rgba(119, 119, 119, 0.5) solid 1px;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    width: 40px;
    text-align: center;
}

.priority-btn-container {
    border: rgba(119, 119, 119, 0.5) solid 1px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    margin: 8px 0 0 28px;
}

.priority-btn-container button {
    background-color: white;
    border: none;
    padding: 6px;
    text-align: center;
}
.priority-btn-container button:not(:first-child) {
    color: #f6942a;
    font-weight: bold;
    width: 40px;
}
.priority-btn-container button:not(:last-child) {
    border-right: rgba(119, 119, 119, 0.5) solid 1px;
}

.priority-btn-container .selected-priority-btn {
    background-color: #e5e5e5;
}

.unchecked-checkbox-btn {
    background-color: white;
    border: #c5c5c5 solid 1px;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 8px;
    height: 18px;
    width: 18px;
}

.checked-checkbox {
    background-color: green;
    border: white solid 2px;
    border-radius: 100px;
    height: 14px;
    width: 14px;
}

.checked-checkbox-btn {
    background-color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 8px;
    height: 100%;
    width: 100%;
}

.checked-checkbox-btn img {
    height: 100%;
    width: 100%;
}